# Ignore virtual environment folder
env/
# Ignore Environment variables file 
.venv

.env

*.pyc

artifact_folder/

artifact_folder_old/

artifact_folder

artifact_folder_old

artifact_folder_old

preprocess.ipynb

data_visualize.ipynb

*/.ipynb_checkpoints
*/__pycache__
preprocess.ipynb

*/.ipynb_checkpoints
*/__pycache__

logs

# For LaTeX documents
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
# *.pdf
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.tex~
*.thm
*.toc
*.vrb
*.xdy
*.xml
*blx.bib
.bak 
.mtc
build/
_minted-Main/

# test folder
test/
temp/

node_modules
build
npm-debug.log
.DS_Store